*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 90vh;
    background-color: #23252C;
    font-family: 'Inter',sans-serif;
}
img{
    margin-top: 50px;
    height: 317px;
    width: 317px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile-image{
    display: flex;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: center;
}
.mid{
    display: flex;
    justify-content: center;
}
.div-content{
    display: flex;
    justify-content: center;
}
.main-body{
    background-color: #1A1B21;   
    width: 317px;
    padding: 20px 35px;
    text-align: center;
}
.div-name{
    margin-bottom: 6px;
}
.div-sub{
    margin-bottom: 9px;
}
.div-web{
    margin-bottom: 18px;
}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sub{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
}
nav{
    background-color: #161619;
    width: 317px;
    height: 64px;
    padding: 20px 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn{
    background-color: #161619;
    padding: 0;
    margin-left: 10px;
    border: none;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}
.insta{
    background-image: url(./src/assets/Instagram_Icon.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    margin-left: 6px;
}
.button{
    width: 115px;
    padding-top: 10px;
    padding-bottom: 8px;
    /* padding: 9px 13px; */
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 6px;
}
.email{
    margin-right: 17px;
    background-image: url(./src/assets/email.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:24%;
    padding-left: 23px;
    padding-right: 3px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: #374151;
}
.linked{
    background: #5093E2;
    background-image: url(./src/assets/icons8-linkedin-96.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position:10%;
    padding-left: 18px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 8px;
    color: #FFFFFF;
    
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

}
.code{
    background-image: url(./src/assets/4691584_codeforces_icon.png);
    background-position: center;
    background-size: cover;
    background-color: #918E9B;
    align-items: center;
    margin-right: 6px;
}
.twitter{
    background-image: url(./src/assets/Twitter_Icon.png);
    background-position: center;
    background-size: cover;
    align-items: center;
}
.github{
    background-image: url(./src/assets/GitHub_Icon.png);
    background-position: center;
    background-size: cover;
    align-items: center;
}
.chef{
    background-image: url(./src/assets/icons8-codechef-50.png);
    background-position: center;
    background-size: cover;
    align-items: center;
}

.btn:hover{
    transition: all 0.4s ease;
    transform: translate(0%, 0%) scale(1.2);
    transform-origin: center;
}
.web{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */

    text-align: center;
    text-decoration: none;
    color: #F5F5F5;
    
}
.web:hover{
    color: #F3BF99;
}
.button:hover{
    transition: all 0.4s ease;
    transform: translate(0%, 0%) scale(1.2);
    transform-origin: center;
}
.content{
    background-color: #1A1B21;   
    width: 317px;
    padding: 12px 35px;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #F5F5F5;
}
p{
    margin-top: 5px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}